<a href="https://colab.research.google.com/github/farhanarnob/PhenoGeneRankerArnob/blob/main/PhenoGeneRankerDataProcessGeneCoExpressionWeightMatrix.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# Read gene expression file
gene_expression_raw = pd.read_csv('/content/drive/MyDrive/myself/UNT/sem one/individual research/project/PhenoGeneRankerArnob/database/ADNI_Gene_Expression_Profile/ADNI_Gene_Expression_Profile.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,490,491,492,493,494,495,496,497,498,499,500,501,502,503,504,505,506,507,508,509,510,511,512,513,514,515,516,517,518,519,520,521,522,523,524,525,526,527,528,529,530,531,532,533,534,535,536,537,538,539,540,541,542,543,544,545,546,547,548,549,550,551,552,553,554,555,556,557,558,559,560,561,562,563,564,565,566,567,568,569,570,571,572,573,574,575,576,577,578,579,580,581,582,583,584,585,586,587,588,589,590,591,592,593,594,595,596,597,598,599,600,601,602,603,604,605,606,607,608,609,610,611,612,613,614,615,616,617,618,619,620,621,622,623,624,625,626,627,628,629,630,631,632,633,634,635,636,637,638,639,640,641,642,643,644,645,646,647,648,649,650,651,652,653,654,655,656,657,658,659,660,661,662,663,664,665,666,667,668,669,670,671,672,673,674,675,676,677,678,679,680,681,682,683,684,685,686,687,688,689,690,691,692,693,694,695,696,697,698,699,700,701,702,703,704,705,706,707,708,709,710,711,712,713,714,715,716,717,718,719,720,721,722,723,724,725,726,727,728,729,730,731,732,733,734,735,736,737,738,739,740,741,742,743,744,745,746) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
# print dataframe shape
gene_expression = gene_expression_raw
print("Dataframe shape:", gene_expression.shape)

Dataframe shape: (49394, 748)

In [ ]:
# show dataframe

gene_expression.head(10)

,Phase,Unnamed: 1,Unnamed: 2,ADNIGO,ADNI2,ADNI2.1,ADNIGO.1,ADNI2.2,ADNI2.3,ADNI2.4,...,ADNIGO.292,ADNI2.443,ADNIGO.293,ADNI2.444,ADNIGO.294,ADNI2.445,ADNI2.446,ADNI2.447,ADNI2.448,Unnamed: 747
0,Visit,NaN,NaN,m48,v03,v03,m48,v03,v03,v06,...,bl,v03,m60,v03,bl,v03,v03,v03,v06,NaN
1,SubjectID,NaN,NaN,116_S_1249,037_S_4410,006_S_4153,116_S_1232,099_S_4205,007_S_4467,128_S_0205,...,022_S_2379,014_S_4668,130_S_0289,141_S_4456,009_S_2381,053_S_4557,073_S_4300,041_S_4014,007_S_0101,NaN
2,260/280,NaN,NaN,2.05,2.07,2.04,2.03,2.01,2.05,1.95,...,2.05,2.05,1.98,2.09,1.87,2.03,2.11,1.94,2.06,NaN
3,260/230,NaN,NaN,0.55,1.54,2.1,1.52,1.6,1.91,1.47,...,1.9,2.05,1.65,1.56,1.45,1.33,0.27,1.72,1.35,NaN
4,RIN,NaN,NaN,7.7,7.6,7.2,6.8,7.9,7,7.9,...,6.7,6.5,6.3,6.4,6.6,6.8,6.2,5.8,6.7,NaN
5,Affy Plate,NaN,NaN,7,3,6,7,9,4,3,...,8,6,9,3,8,5,3,1,4,NaN
6,YearofCollection,NaN,NaN,2011,2012,2011,2011,2011,2012,2011,...,2011,2012,2011,2012,2011,2012,2011,2011,2012,NaN
7,ProbeSet,LocusLink,Symbol,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,11715100_at,LOC8355,HIST1H3G,2.237,2.294,2.14,2.062,2.04,2.439,1.955,...,2.34,2.405,2.349,2.212,2.382,2.497,2.309,2.302,2.661,[HIST1H3G] histone cluster 1 H3g
9,11715101_s_at,LOC8355,HIST1H3G,2.624,2.416,2.322,2.5,2.395,2.309,2.451,...,2.53,2.513,2.754,2.559,2.277,2.466,2.607,2.569,2.679,[HIST1H3G] histone cluster 1 H3g

In [ ]:
gene_expression = gene_expression.loc[:, ~gene_expression.columns.str.contains('^Unnamed')]
gene_expression.columns = gene_expression.iloc[1]

In [ ]:
gene_expression.head(10)

1,SubjectID,116_S_1249,037_S_4410,006_S_4153,116_S_1232,099_S_4205,007_S_4467,128_S_0205,003_S_2374,036_S_4491,...,082_S_4339,022_S_2379,014_S_4668,130_S_0289,141_S_4456,009_S_2381,053_S_4557,073_S_4300,041_S_4014,007_S_0101
0,Visit,m48,v03,v03,m48,v03,v03,v06,bl,v03,...,v03,bl,v03,m60,v03,bl,v03,v03,v03,v06
1,SubjectID,116_S_1249,037_S_4410,006_S_4153,116_S_1232,099_S_4205,007_S_4467,128_S_0205,003_S_2374,036_S_4491,...,082_S_4339,022_S_2379,014_S_4668,130_S_0289,141_S_4456,009_S_2381,053_S_4557,073_S_4300,041_S_4014,007_S_0101
2,260/280,2.05,2.07,2.04,2.03,2.01,2.05,1.95,1.99,2.06,...,2.08,2.05,2.05,1.98,2.09,1.87,2.03,2.11,1.94,2.06
3,260/230,0.55,1.54,2.1,1.52,1.6,1.91,1.47,2.07,1.06,...,1.75,1.9,2.05,1.65,1.56,1.45,1.33,0.27,1.72,1.35
4,RIN,7.7,7.6,7.2,6.8,7.9,7,7.9,7.2,5.5,...,6.2,6.7,6.5,6.3,6.4,6.6,6.8,6.2,5.8,6.7
5,Affy Plate,7,3,6,7,9,4,3,8,5,...,3,8,6,9,3,8,5,3,1,4
6,YearofCollection,2011,2012,2011,2011,2011,2012,2011,2011,2012,...,2011,2011,2012,2011,2012,2011,2012,2011,2011,2012
7,ProbeSet,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,11715100_at,2.237,2.294,2.14,2.062,2.04,2.439,1.955,2.372,2.327,...,2.575,2.34,2.405,2.349,2.212,2.382,2.497,2.309,2.302,2.661
9,11715101_s_at,2.624,2.416,2.322,2.5,2.395,2.309,2.451,2.403,2.738,...,2.841,2.53,2.513,2.754,2.559,2.277,2.466,2.607,2.569,2.679

In [ ]:
gene_expression.drop(gene_expression.index[0:8],0,inplace=True)
gene_expression = gene_expression.reset_index(drop = True)
gene_expression = gene_expression.rename(columns={'SubjectID': 'PROBEID'})
gene_expression.to_csv('/content/drive/MyDrive/myself/UNT/sem one/individual research/project/PhenoGeneRankerArnob/database/ADNI_Gene_Expression_Profile/ADNI_Gene_Expression_Profile_processed.csv',index = False)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
# Read gene expression file
gene_expression_processed = pd.read_csv('/content/drive/MyDrive/myself/UNT/sem one/individual research/project/PhenoGeneRankerArnob/database/ADNI_Gene_Expression_Profile/ADNI_Gene_Expression_Profile_processed.csv')

In [ ]:
# show dataframe
# gene_expression.reset_index(drop=True, inplace=True)
# gene_expression = gene_expression.set_index('Phase')
gene_expression_processed.head(10)

,PROBEID,116_S_1249,037_S_4410,006_S_4153,116_S_1232,099_S_4205,007_S_4467,128_S_0205,003_S_2374,036_S_4491,...,082_S_4339,022_S_2379,014_S_4668,130_S_0289,141_S_4456,009_S_2381,053_S_4557,073_S_4300,041_S_4014,007_S_0101
0,11715100_at,2.237,2.294,2.140,2.062,2.040,2.439,1.955,2.372,2.327,...,2.575,2.340,2.405,2.349,2.212,2.382,2.497,2.309,2.302,2.661
1,11715101_s_at,2.624,2.416,2.322,2.500,2.395,2.309,2.451,2.403,2.738,...,2.841,2.530,2.513,2.754,2.559,2.277,2.466,2.607,2.569,2.679
2,11715102_x_at,1.873,1.884,1.999,1.851,2.080,1.997,1.539,1.926,1.922,...,2.247,2.057,2.400,2.247,1.939,2.107,2.137,2.075,2.147,2.028
3,11715103_x_at,2.920,2.668,3.634,3.632,3.278,3.578,3.362,3.371,4.124,...,3.872,3.509,4.134,3.515,3.707,3.819,3.541,3.496,4.037,3.285
4,11715104_s_at,2.147,2.156,2.516,2.283,2.251,2.235,1.992,2.407,2.633,...,2.365,2.180,2.576,2.146,2.228,2.588,2.256,2.098,2.376,2.333
5,11715105_at,2.268,2.130,1.957,2.347,2.154,2.055,2.323,2.084,2.086,...,2.362,2.067,2.217,2.258,2.261,2.201,2.205,2.161,2.130,2.074
6,11715106_x_at,2.432,2.270,2.333,2.258,2.334,2.450,2.166,2.397,2.718,...,2.306,2.451,2.742,2.361,2.191,2.531,2.737,2.439,2.585,2.854
7,11715107_s_at,4.600,4.547,4.442,4.608,4.536,4.805,4.587,4.555,5.316,...,4.821,5.008,5.077,4.940,4.593,4.455,4.725,4.981,5.005,5.009
8,11715108_x_at,2.771,2.363,2.544,2.233,2.546,2.576,2.517,2.422,2.389,...,2.495,2.314,2.905,2.426,2.635,2.335,2.078,2.394,2.396,2.445
9,11715109_at,2.931,2.548,2.814,3.156,2.864,3.043,2.731,2.863,3.153,...,3.121,2.565,2.960,2.551,2.785,2.949,2.863,2.775,2.491,2.837

In [ ]:
gene_set_probe_set = pd.read_csv('/content/drive/MyDrive/myself/UNT/sem one/individual research/project/PhenoGeneRankerArnob/database/ADNI_Gene_Expression_Profile/probe_gene_id.csv')

gene_set_probe_set.head(10)

         PROBEID     SYMBOL
0    11715100_at       H3C8
1  11715101_s_at       H3C8
2  11715102_x_at       H3C8
3  11715103_x_at  TNFAIP8L1
4  11715104_s_at      OTOP2
5    11715105_at   C17orf78
6  11715106_x_at     CTAGE6
7  11715106_x_at    CTAGE15
8  11715107_s_at       F8A1
9  11715107_s_at       F8A2

In [ ]:
gene_expression_processed.head(10)

,PROBEID,116_S_1249,037_S_4410,006_S_4153,116_S_1232,099_S_4205,007_S_4467,128_S_0205,003_S_2374,036_S_4491,...,082_S_4339,022_S_2379,014_S_4668,130_S_0289,141_S_4456,009_S_2381,053_S_4557,073_S_4300,041_S_4014,007_S_0101
0,11715100_at,2.237,2.294,2.140,2.062,2.040,2.439,1.955,2.372,2.327,...,2.575,2.340,2.405,2.349,2.212,2.382,2.497,2.309,2.302,2.661
1,11715101_s_at,2.624,2.416,2.322,2.500,2.395,2.309,2.451,2.403,2.738,...,2.841,2.530,2.513,2.754,2.559,2.277,2.466,2.607,2.569,2.679
2,11715102_x_at,1.873,1.884,1.999,1.851,2.080,1.997,1.539,1.926,1.922,...,2.247,2.057,2.400,2.247,1.939,2.107,2.137,2.075,2.147,2.028
3,11715103_x_at,2.920,2.668,3.634,3.632,3.278,3.578,3.362,3.371,4.124,...,3.872,3.509,4.134,3.515,3.707,3.819,3.541,3.496,4.037,3.285
4,11715104_s_at,2.147,2.156,2.516,2.283,2.251,2.235,1.992,2.407,2.633,...,2.365,2.180,2.576,2.146,2.228,2.588,2.256,2.098,2.376,2.333
5,11715105_at,2.268,2.130,1.957,2.347,2.154,2.055,2.323,2.084,2.086,...,2.362,2.067,2.217,2.258,2.261,2.201,2.205,2.161,2.130,2.074
6,11715106_x_at,2.432,2.270,2.333,2.258,2.334,2.450,2.166,2.397,2.718,...,2.306,2.451,2.742,2.361,2.191,2.531,2.737,2.439,2.585,2.854
7,11715107_s_at,4.600,4.547,4.442,4.608,4.536,4.805,4.587,4.555,5.316,...,4.821,5.008,5.077,4.940,4.593,4.455,4.725,4.981,5.005,5.009
8,11715108_x_at,2.771,2.363,2.544,2.233,2.546,2.576,2.517,2.422,2.389,...,2.495,2.314,2.905,2.426,2.635,2.335,2.078,2.394,2.396,2.445
9,11715109_at,2.931,2.548,2.814,3.156,2.864,3.043,2.731,2.863,3.153,...,3.121,2.565,2.960,2.551,2.785,2.949,2.863,2.775,2.491,2.837

In [ ]:
result = pd.concat([gene_set_probe_set,gene_expression_processed], axis=1, join="inner")

In [ ]:
result.head(10)

,PROBEID,SYMBOL,PROBEID,116_S_1249,037_S_4410,006_S_4153,116_S_1232,099_S_4205,007_S_4467,128_S_0205,...,082_S_4339,022_S_2379,014_S_4668,130_S_0289,141_S_4456,009_S_2381,053_S_4557,073_S_4300,041_S_4014,007_S_0101
0,11715100_at,H3C8,11715100_at,2.237,2.294,2.140,2.062,2.040,2.439,1.955,...,2.575,2.340,2.405,2.349,2.212,2.382,2.497,2.309,2.302,2.661
1,11715101_s_at,H3C8,11715101_s_at,2.624,2.416,2.322,2.500,2.395,2.309,2.451,...,2.841,2.530,2.513,2.754,2.559,2.277,2.466,2.607,2.569,2.679
2,11715102_x_at,H3C8,11715102_x_at,1.873,1.884,1.999,1.851,2.080,1.997,1.539,...,2.247,2.057,2.400,2.247,1.939,2.107,2.137,2.075,2.147,2.028
3,11715103_x_at,TNFAIP8L1,11715103_x_at,2.920,2.668,3.634,3.632,3.278,3.578,3.362,...,3.872,3.509,4.134,3.515,3.707,3.819,3.541,3.496,4.037,3.285
4,11715104_s_at,OTOP2,11715104_s_at,2.147,2.156,2.516,2.283,2.251,2.235,1.992,...,2.365,2.180,2.576,2.146,2.228,2.588,2.256,2.098,2.376,2.333
5,11715105_at,C17orf78,11715105_at,2.268,2.130,1.957,2.347,2.154,2.055,2.323,...,2.362,2.067,2.217,2.258,2.261,2.201,2.205,2.161,2.130,2.074
6,11715106_x_at,CTAGE6,11715106_x_at,2.432,2.270,2.333,2.258,2.334,2.450,2.166,...,2.306,2.451,2.742,2.361,2.191,2.531,2.737,2.439,2.585,2.854
7,11715106_x_at,CTAGE15,11715107_s_at,4.600,4.547,4.442,4.608,4.536,4.805,4.587,...,4.821,5.008,5.077,4.940,4.593,4.455,4.725,4.981,5.005,5.009
8,11715107_s_at,F8A1,11715108_x_at,2.771,2.363,2.544,2.233,2.546,2.576,2.517,...,2.495,2.314,2.905,2.426,2.635,2.335,2.078,2.394,2.396,2.445
9,11715107_s_at,F8A2,11715109_at,2.931,2.548,2.814,3.156,2.864,3.043,2.731,...,3.121,2.565,2.960,2.551,2.785,2.949,2.863,2.775,2.491,2.837

In [ ]:
gene_expression_processed_T = gene_expression_processed.T
gene_expression_processed_T.columns = gene_expression_processed_T.iloc[0]
# new_header = gene_expression_processed_T.iloc[0] #grab the first row for the header
gene_expression_processed_T = gene_expression_processed_T[1:] #take the data less the header row
# gene_expression_processed_T.columns = new_header #set the header row as the df header
gene_expression_processed_T.head(10)

SubjectID,11715100_at,11715101_s_at,11715102_x_at,11715103_x_at,11715104_s_at,11715105_at,11715106_x_at,11715107_s_at,11715108_x_at,11715109_at,...,AFFX-r2-TagH_at,AFFX-r2-TagIN-3_at,AFFX-r2-TagIN-5_at,AFFX-r2-TagIN-M_at,AFFX-r2-TagJ-3_at,AFFX-r2-TagJ-5_at,AFFX-r2-TagO-3_at,AFFX-r2-TagO-5_at,AFFX-r2-TagQ-3_at,AFFX-r2-TagQ-5_at
116_S_1249,2.237,2.624,1.873,2.92,2.147,2.268,2.432,4.6,2.771,2.931,...,2.355,2.624,2.01,2.906,2.463,2.05,2.06,1.858,2.028,2.162
037_S_4410,2.294,2.416,1.884,2.668,2.156,2.13,2.27,4.547,2.363,2.548,...,2.1,2.82,1.726,2.465,2.26,1.933,1.717,2.208,2.058,1.882
006_S_4153,2.14,2.322,1.999,3.634,2.516,1.957,2.333,4.442,2.544,2.814,...,2.165,2.455,1.84,2.681,2.251,1.985,1.77,2.184,2.007,2.134
116_S_1232,2.062,2.5,1.851,3.632,2.283,2.347,2.258,4.608,2.233,3.156,...,2.094,2.599,1.837,2.713,2.158,1.916,1.878,2.163,2.185,2.099
099_S_4205,2.04,2.395,2.08,3.278,2.251,2.154,2.334,4.536,2.546,2.864,...,1.973,2.544,1.909,2.548,2.266,2.077,1.838,2.085,1.941,1.883
007_S_4467,2.439,2.309,1.997,3.578,2.235,2.055,2.45,4.805,2.576,3.043,...,2.143,2.653,1.834,2.594,2.432,1.788,1.872,2.266,1.902,1.902
128_S_0205,1.955,2.451,1.539,3.362,1.992,2.323,2.166,4.587,2.517,2.731,...,2.22,2.891,1.823,2.3,2.325,2.063,1.824,2.063,1.838,1.829
003_S_2374,2.372,2.403,1.926,3.371,2.407,2.084,2.397,4.555,2.422,2.863,...,2.153,2.63,1.847,2.652,2.212,2.059,1.916,2.483,1.901,2.027
036_S_4491,2.327,2.738,1.922,4.124,2.633,2.086,2.718,5.316,2.389,3.153,...,2.215,3.15,1.855,2.814,2.331,1.891,1.804,2.58,2.219,2.452
098_S_4059,2.535,2.478,2.073,3.824,2.789,1.98,2.474,4.875,2.4,2.768,...,2.182,3.053,1.845,2.501,2.514,1.968,2.162,2.344,1.949,2.158

In [ ]:
gene_expression_processed_T_float = gene_expression_processed_T.astype(float)
gene_expression_processed_T_float = gene_expression_processed_T_float.reset_index(drop = True)
gene_expression_processed_T_float.to_csv('/content/drive/MyDrive/myself/UNT/sem one/individual research/project/PhenoGeneRankerArnob/database/ADNI_Gene_Expression_Profile/ADNI_Gene_Expression_Profile_processed_float.csv',index = False)

In [ ]:
# Read gene expression file
gene_expression_processed_T_float_read = pd.read_csv('/content/drive/MyDrive/myself/UNT/sem one/individual research/project/PhenoGeneRankerArnob/database/ADNI_Gene_Expression_Profile/ADNI_Gene_Expression_Profile_processed_float.csv')

In [ ]:
gene_expression_processed_T_float_read.head()

,11715100_at,11715101_s_at,11715102_x_at,11715103_x_at,11715104_s_at,11715105_at,11715106_x_at,11715107_s_at,11715108_x_at,11715109_at,...,AFFX-r2-TagH_at,AFFX-r2-TagIN-3_at,AFFX-r2-TagIN-5_at,AFFX-r2-TagIN-M_at,AFFX-r2-TagJ-3_at,AFFX-r2-TagJ-5_at,AFFX-r2-TagO-3_at,AFFX-r2-TagO-5_at,AFFX-r2-TagQ-3_at,AFFX-r2-TagQ-5_at
0,2.237,2.624,1.873,2.920,2.147,2.268,2.432,4.600,2.771,2.931,...,2.355,2.624,2.010,2.906,2.463,2.050,2.060,1.858,2.028,2.162
1,2.294,2.416,1.884,2.668,2.156,2.130,2.270,4.547,2.363,2.548,...,2.100,2.820,1.726,2.465,2.260,1.933,1.717,2.208,2.058,1.882
2,2.140,2.322,1.999,3.634,2.516,1.957,2.333,4.442,2.544,2.814,...,2.165,2.455,1.840,2.681,2.251,1.985,1.770,2.184,2.007,2.134
3,2.062,2.500,1.851,3.632,2.283,2.347,2.258,4.608,2.233,3.156,...,2.094,2.599,1.837,2.713,2.158,1.916,1.878,2.163,2.185,2.099
4,2.040,2.395,2.080,3.278,2.251,2.154,2.334,4.536,2.546,2.864,...,1.973,2.544,1.909,2.548,2.266,2.077,1.838,2.085,1.941,1.883

In [ ]:
g_e_corr = gene_expression_processed_T_float_read.corr()

In [ ]:
g_e_corr

,11715100_at,11715101_s_at,11715102_x_at,11715103_x_at,11715104_s_at
11715100_at,1.000000,0.050550,0.538992,0.212557,0.595791
11715101_s_at,0.050550,1.000000,-0.191778,0.240298,0.207520
11715102_x_at,0.538992,-0.191778,1.000000,0.218404,0.629221
11715103_x_at,0.212557,0.240298,0.218404,1.000000,0.710056
11715104_s_at,0.595791,0.207520,0.629221,0.710056,1.000000